#nav-bar{
  position: fixed;
  top: 0em;
  height: 80px;
  width: 100%;
  padding: 0 2em;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  font-size: 200%;
  float: left;
  line-height: 2.5;
}

.composeBtn{
  height: 75%;
  width: 120px;
  border-radius: 10%;
  border: 1px black solid;
  float: right;
  margin-top: 0.5em;
  margin-right: 2em;
  background-color: white;
  color: black;
  padding-top: 0.25em;
}

#composeIcon{
  margin-left: 1em;
  margin-top: 0.75em;
  width: 20px;
  height: 20px;
}



